#about-nav {
  grid-template-columns: 65px auto;
  grid-template-rows: 65px 65px 70px;
}

#item-a {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  border-top: 5px solid var(--black);
  border-right: 5px solid var(--black);
}

#item-b {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  border-top: 5px solid var(--black);
  border-right: 5px solid var(--black);
}

#item-c {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;

  border-top: 5px solid var(--black);
  border-right: 5px solid var(--black);
  border-bottom: 5px solid var(--black);
  background-color: var(--red);
}

#item-d {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;

  border-top: 5px solid var(--black);
  border-bottom: 5px solid var(--black);

  padding: 12px;
  justify-content: center;
}

#sam-photo {
  height: 149px;
  width: 150px;

  border: 5px solid var(--white);
}



