#web-design-nav {
  grid-template-columns: 120px 120px;
  grid-template-rows: 130px 70px;
}

#item-g {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;

  border-top: 5px solid var(--black);
  border-bottom: 5px solid var(--black);
  justify-content: center;
  align-items: center;
}

#item-g > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 12px;
  justify-content: center;
  /* position: relative; */
}

#item-g > div > div > img {
  padding: 6px;
}

#item-g > div > div {
  display: flex;
  justify-content: center;
}


#item-h {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  background-color: var(--red);
  border-bottom: 5px solid var(--black);

  /* justify-content: center; */
  align-items: center;
  padding: 3px;
}

#item-h  > img {
transform: unset;
}


#item-i {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  border-bottom: 5px solid var(--black);
  border-left: 5px solid var(--black);
}

#github-profile {
  width: 50px;
  top: 3px;
  left: 65px;
}

#coding-sam {
  height: 110px;
  border-radius: 5px;
}