.design-section {
  border: 5px solid var(--black);
  background-color: var(--white);
  margin-bottom: 36px;
}

.design-section > h2 {
  margin: 0;
  background-color: var(--red);

}

.project-description {
  border: 5px solid var(--blue);
  box-shadow: 0 0 20px 5px var(--black05);

  padding: 6px;
}

