header {
  background-color: var(--white);
  height: 35px; 
  width: 100%;

  /* border-radius: 10px 10px 0 0; */
}

.faux-btn, .close-btn {
  height: 15px;
  width: 15px;
  margin: 6px 0 0 6px;
}

.close-btn {
  background-image: url('../img/red-button.png');
  background-size: contain;
  padding: 0;
}

.close-btn:hover {
  transform: scale(1.2);
}

footer {
  position: absolute;
  bottom: 0;

  height: 17px;
  width: 100%;
  background-color: var(--white);
  /* border-radius: 0 0 10px 10px; */
}
